if theme.menu
  .menus_items
    each value, label in theme.menu
      if typeof value !== 'object'
        .menus_item
          - const valueArray = value.split('||')
          a.site-page(href=url_for(trim(valueArray[0])))
            if valueArray[1]
              - var icon_value = trim(value.split('||')[1])
              if icon_value.substring(0,2)=="fa"      
                i.fa-fw(class=icon_value)
              else if icon_value.substring(0,4)=="icon"          
                svg.icon(aria-hidden="true")
                  use(xlink:href=`#`+ icon_value)
            span= ' ' + label
      else
        .menus_item
          - const [groupLabel, groupIcon, groupClass] = label.split('||').map(part => trim(part))
          - const hideClass = groupClass === 'hide' ? 'hide' : ''
          span.site-page.group(class=hideClass)
            if groupIcon
              - var icon_label = trim(label.split('||')[1])
              if icon_label.substring(0,2)=="fa"      
                i.fa-fw(class=icon_label)
              else if icon_label.substring(0,4)=="icon"    
                svg.icon(aria-hidden="true")
                  use(xlink:href=`#`+ icon_label)
            span= ' ' + groupLabel
            i.fas.fa-chevron-down
          ul.menus_item_child(style=`left:`+ (-55 * Object.keys(value).length + 39) + `px;`)
            each val, lab in value
              - const [childLink, childIcon, childClass] = val.split('||').map(part => trim(part))
              li
                a.site-page.child(href=url_for(childLink))
                  if childIcon
                    - var icon_val = trim(val.split('||')[1])
                    if icon_val.substring(0,2)=="fa"      
                      i.fa-fw(class=icon_val)
                    else if icon_val.substring(0,4)=="icon"
                      svg.icon(aria-hidden="true")
                        use(xlink:href=`#`+ icon_val)
                  span= ' ' + lab
