each value, title in theme.social
  -
    const valueArray = value.split('||').map(i => trim(i))
    const link = valueArray[0]
    const icon = valueArray[1]
    const color = valueArray[2]
    const iconStyle = color ? `color: ${color.replace(/[\'\"]/g, '')};` : ''
    const iconTitle = title || ''

  a.social-icon(href=url_for(link) target="_blank" title=iconTitle)
    if icon
      if icon.substring(0,2)=="fa"      
        i.fa-fw(class=icon style=iconStyle)
      else if icon.substring(0,4)=="icon"          
        svg.icon(aria-hidden="true")
          use(xlink:href=`#`+ icon)